body{
    background-color: rgb(250, 247, 247);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('back3.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.content {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
}



section {
    padding: 2rem;
    text-align: center;
}

#works .work {
    display: inline-block;
    width: 45%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}

#works .work img {
    width: 100%;
    height: auto;
}

#works .work video {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 100px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.my-social {
    grid-area: social;  /* mainタグのGridテンプレートの「social」に配置 */
    display: flex; /* .my-social内部をフレキシブル表示に切り替え（標準で横並びになります） */
    margin-top: 1.5rem; /* 上部に1.5文字分の外部余白を設定 */
  }
  /* class="my-social"の中のli */
.my-social li {
    line-height: 1; /* 文字高さを1文字分とする */
    margin-right: 1rem; /* 右側に1文字分の外側余白をつける */
    font-size: 2rem; /* アイコン(文字)のサイズを2文字分とする */
  }/* class="my-social"の中のliの中のa */
.my-social li a {
    display: inline-block; /* リンクテキストをインラインブロック要素として表示 */
    text-decoration: none;  /* リンクテキストの装飾をなくす */
    color: var(--text-color);  /* 文字色をデフォルトのリンクカラーからこの文書の文字色へ変更 */
    cursor: pointer; /* この要素にマウスオーバーしたとき、マウスカーソルを指に変更 */
    transition: 1s color; /* 文字色が変化する場合、１秒かけて変化させる定義 */
  }
  /* class="my-social"の中のliの中のaにマウスカーソルが乗った時 */
.my-social li a:hover {
    color: rgb(0, 0, 0);  /* 文字色を変える(任意の文字色に変えて良い) */
  }
